<!-- Sidebar  -->
<nav id="sidebar">
    <div id="dismiss">
        <i class="fas fa-arrow-left"></i>
    </div>

    <div class="sidebar-header">
        <h3>NLP As a Service Demo Starter</h3>
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="/">Home</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#pageSubmenuNQR" data-toggle="collapse" aria-expanded="false">Next Query Recommendation</a>
            <ul class="collapse list-unstyled" id="pageSubmenuNQR">
                <li>
                    <a href="/page/NQR_about">About</a>
                </li>
                <li>
                    <a href="/uploadfile">Demo</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#pageSubmenuQE" data-toggle="collapse" aria-expanded="false">Query Expansion</a>
            <ul class="collapse list-unstyled" id="pageSubmenuQE">
                <li>
                    <a href="/page/QE_about">About</a>
                </li>
                <li>
                    <a href="/uploadfileqe">Demo</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#pageSubmenuFR" data-toggle="collapse" aria-expanded="false">Fallback Reduction</a>
            <ul class="collapse list-unstyled" id="pageSubmenuFR">
                <li>
                    <a href="/page/FR_about">About</a>
                </li>
                <li>
                    <a href="/uploadfilefr">Demo</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>